h1{
    color:orange;
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
    font-weight: 300;
    
}
h1:hover{
    color: orangered;
    font-size: 80px;
    font-weight: 800;
}
input{
    margin-left: 25%;
    padding: 30px;
    height: 80px;
    width: 40%
    
}

.fir{
    font-size: 40px;
}
.fir:focus{
    color: red;
    font-size: 80px
}
a{
    margin-left: 20%;
    font-size: 40px;
    
}
a:visited{
    color: red;
}


li:last-child{
    color: red;
    
}
li:nth-child(2n+1){
    color: blueviolet;
    background-color: aliceblue;
}
ul{
    font-size: 30px;
}
h3::before{
    content: 'Hello ';
    color: red;
}
h3::after{
    content: ' Bangladesh';
    color: green;
}